.box {
  height: 100px;
  width: 100px;
  border: 2px double purple;
  font-size: 90px;
  text-align: center;
}

body {
  color: purple;
  background-color: aquamarine;
  text-align: center;
}

.board {
  display: flex;
  flex-wrap: wrap;
  width: 315px;
  margin: 0 auto;
}

h1 {
  text-align: center;
}